@charset "UTF-8";

// Imports [vendor]
@import "vendor/reset/reset";
@import "vendor/normalize/normalize";

// Imports [modules]
@import "modules/fonts/fonts";

// Imports [settings]
@import "settings/settings";

// Imports [layouts]
@import "layouts/layouts";

h1 {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: $color;
  color: white;
  text-align: center;
}

body, html {
    margin: 0;
}

body {
    font-family: Verdana, serif;
    background-color: #eeeeee;
    font-size: 20px;
}

.grid, .panel {
    padding: 20px 0px 20px 0px;
    width: 360px;
    text-align: center;
    margin: auto;
    clear: both;
}

#root {
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
}

.view {
	height: 100%;
}

.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: relative;
}