@charset "UTF-8";

// Imports [vendor]
@import "vendor/reset/reset";
@import "vendor/normalize/normalize";

// Imports [fonts]
@import "modules/fonts/font";

// Imports [variables]
@import "settings/variables";

// Imports [common]
@import "layouts/common";

h1 {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: $color;
  color: white;
  text-align: center;
}

body, html {
    margin: 0;
}

body {
    font-family: Verdana, serif;
    background-color: #eeeeee;
    font-size: 20px;
}

.grid, .panel {
    padding-top: 20px;
    width: 360px;
    text-align: center;
    margin: auto;
    clear: both;
}
