@charset "UTF-8";

// Imports [variables]
@import "../../settings/variables";

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    text-align: center;
	background-color: $color-header-background;
}