@charset "UTF-8";

// Imports [settings]
@import "../../settings/settings";

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
	background-color: $color-footer-background;
}