@charset "UTF-8";

.board-widget {
	display: block;
	margin: 0;
	text-align: center;
	
	.board-widget-playground {
		width: auto;
		
		.board-widget-info {
			height: auto;
			min-height: 60px;
			font-size: 16px;
			padding-top: 20px;
			text-transform: uppercase;
			font-weight: 200;
			letter-spacing: 2px;
			color: black;
			background: chocolate;
		}
		
		.board-widget-layout {
			height: auto;
			padding: 20px;
		}
		
		.board-widget-status {
			height: auto;
		}
		
		.board-widget-panel {
			background: sandybrown;
		}
		
		.board-widget-message {
			height: auto;
			min-height: 60px;
			font-size: 12px;
			padding-top: 20px;
			font-weight: 200;
			letter-spacing: 2px;
			color: black;
		}
		
		.board-widget-loader {
			aside {
				border-radius: 10px 10px;
			}
		}
	}
	
	&:focus {
		outline: none;
	}
}