@charset "UTF-8";

.board-widget {
	display: block;
	margin: 0;
	text-align: center;
	
	.board-widget-info {
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 200;
		letter-spacing: 2px;
		color: black;
	}
	
	&:focus {
		outline: none;
	}
}