@charset "UTF-8";

$blue: #0000aa;
$red: #aa0000;
$almostBlack: #666;

$color-primary: #2998df;
$color-secondary: #6a66cc;
$color: teal;

// Button colors
$color-button-background: #A69520;
$color-button-border: #282727;

// header/footer colors
$color-header-background: #ff8600;
$color-footer-background: #ff8600;

$color-toolbox-background: #ff8600;